nav {
    height: 3.5rem;
    /*background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);*/
}

ul {
    margin: 0 auto;
    padding: 0;
}

.link {
    color: white;
    text-decoration:none;
}

.liste {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    list-style-type: none;
    background: linear-gradient(45deg, darkslategray, midnightblue)
}

.items {
    margin-right: 1rem;
    color: white;
    cursor: pointer;
}

.btn {
    display: none;
}

.logo {
    cursor: pointer;
    color: white;
}

.iconeprofil {
    cursor: pointer;
    color: white;
}
