body {
    background-color: darkslategray;
    margin: 0 auto;
}

section {
    margin-top: 5rem;
}

.carrousel-clothes {
    margin-top: 1.6rem;
}

.result-interface {
    margin-top: 1.6rem;
}

.add-button {
    margin: 1.5rem;
}


